*{
    margin:0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
  }
  body{
    background-color: rgba(0, 0, 0, 0.952);
    
  }
  .main{
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .calculator{
    width:24.rem;
    height:32.rem;
    border: 2px solid  rgba(163, 151, 151, 0.171);
    box-shadow: 3px 3px 8px rgba(163, 151, 151, 0.171);
    border-radius: 10px;
  
  }
  .inner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4px;
    padding:5px 8px 10px 8px;
    background-color: black;
    /* background-color: rgba(0, 0, 0, 0.473); */
    width:24rem;
    border-radius: 0px 0px 10px 10px;
  }
  input{
    width:24rem;
    height:92px;
    background-color: black;
    /* background-color: rgba(0, 0, 0, 0.473); */
    border: none;
    border-radius: 10px 10px 0px 0px ;
    text-align: end;
    padding: 30px;
    font-size: 26px;
    color:white;
    
  }
  input::placeholder{
    color:white;
  }
  
  button{
    height:70px;
    width:70px;
    color:white;
    background-color: black;
    border-radius: 50%;
    margin:5px;
    box-shadow:-4px -4px 10px rgba(255,255,255,0.1);
    border: 1px solid black;
    font-size: 20px;
  }
  .equal{
    width:144px;
    background-color: rgb(76, 116, 76);
    color: black;
    font-size: 25px;
    font-weight: 500;
  
    
  }